/*
 * QLUE Panel Custom Themes
 * -----------------------
 * -----------------------
 * Author Dan Humphries - QLUE
 * Copyright (C) 2011 QLUE 
 */
 
 /**
 * This needs to make the logo hide when the panel is alive
 * Return z-index back to the right value when panel is dead
 */
h1.logo a{
  z-index: 0!important;
}
.qPanel{
  width: 100%;
  top: -2px;
  left: 0;
  position: absolute;
  background: #444;
  z-index: 100!important;
  border-bottom: 1px solid #FE6B39;
}
.qPanel div.content {
  width: 960px;
  height: 390px!important;
  margin: 0 auto;
  padding: 0 0 10px 0;
  color: #FFF;
  overflow: hidden;
  display: block!important;
}

.qPanel div.content div.columns{
  height: 100%;
  float: left;
  display: inline;
  overflow: hidden;
}
/*
.qPanel div.content div.columns a{color: #FFF;}
.qPanel div.content div.columns p{ text-align: justify; } 
.qPanel div.content div.columns h1, h2, h3, h4{ color: #FFF!important; }
*/
.column100{width: 100%; margin: 14px 0 0 0;}
.column50{width: 48%; margin: 14px 5px 0 15px;}
.column31{width: 31%; margin: 14px 5px 0 18px;}
.column22{width: 22%; margin: 14px 14px 0 14px;}

.qPanel-button{
  top: 0px;
  right: 120px;
  float: right;
  position: absolute;
  padding: 3px 6px 2px 6px;
  background: #444;
  color: #FFF;
  z-index: 100!important;
  border: 1px solid #FE6B39;
  border-top: none;
  cursor: pointer;
}
.qPanel-button:hover {
  text-decoration: underline;
}
