div.menusys_mega {width: 110%;float:left;display:block; min-height:40px; }

/* Level 0 */
div.menusys_mega ul.level0 {width:100%;margin:0;padding:0;float: left;list-style: none;}
div.menusys_mega ul.level0 > li {padding: 0;margin:0 1px 0 0;float: left;display: block;border-bottom: none;background: url(../../images/mega/menu_vertical.png) no-repeat right center;}
div.menusys_mega ul.level0 li > a.item {padding: 15px 20px ;display: inline-block;position: relative;z-index: 99;text-shadow: 1px 1px 0 #eee;}
div.menusys_mega ul.level0 > li.last-item{background:none;}

/* Fix IE8 */
@media \\\\0screen {div.menusys_mega ul.level0 li > a.item  {padding: 15px  ;}}

div.menusys_mega ul.level0 li .has-image {display: block;padding: 0 0 0 25px;background-repeat: no-repeat;background-position: 2px 10px;}
div.menusys_mega ul.level0 li span.menu-title {line-height: 40px;display: inline-block;color: #535252;font-size: 16px;text-transform:uppercase;}
div.menusys_mega ul.level0 li > a.item > span > span.menu-desc {display: block;color:#ddd;font-weight: normal;font-size: 92%;}
div.menusys_mega ul.level0 li.active > a.item { background: url(../../images/mega/fancy-mid.png) repeat-x left top; text-shadow: none;}
div.menusys_mega ul.level0 li.hover > a.item {  text-shadow: none;}
div.menusys_mega ul.level0 li.active > a.item > span > span.menu-title { color:#fff; }
div.menusys_mega ul.level0 li.hover > a.item > span > span.menu-title { color:#fff; }

div.menusys_mega ul.level0 li.active { }
div.menusys_mega ul.level0 li.hover { }
div.menusys_mega ul.level0 li.active  span.menu-desc,
div.menusys_mega ul.level0 li.hover  span.menu-desc{}
div.menusys_mega ul.level0 > li.hasChild a.item > span.no-image{}
div.menusys_mega ul.level0 > li.hasChild.hover > a.item > span.no-image,
div.menusys_mega ul.level0 > li.hasChild.active > a.item > span.no-image{}

/*  Boder Child Content  */
div.menusys_mega .menusub_mega {position:absolute;padding-top:13px ;opacity:0;}
div.menusys_mega .menusub_mega .menusub_mega{margin: -40px 0px 0px 0px !important; }
div.menusub_mega > div.submenu-wrap{background:url(../../images/mega/opacity-sub.png) repeat;padding:5px; border-radius:  5px;}
div.menusys_mega div.subarrowtop{}
div.menusys_mega div.subwrapcenter{ padding: 5px 0; background:#f8f8f8;border-radius:  5px;display:table; }
div.menusys_mega ul.mega-ul li.hasChild.hover .submenu-wrap {border-radius:5px;}

/* Mega Grouped  */
div.menusys_mega .mega-group {display:block;margin: 0 5px ;padding:  10px 3px ;background:url(../../images/mega/mega-group.png) no-repeat left bottom;}
div.menusys_mega .mega-group span.no-image{background: none!important ;display: block;}
div.menusys_mega .mega-group span.has-image{padding: 3px 0 3px 25px;display:block;  background-position: 2px 4px;}
div.menusys_mega .mega-group > a.item{padding: 0 ;}
div.menusys_mega div.submenu-wrap .mega-group .menu-title{padding: 0;font-size: 130%;display:block;line-height: 20px;color:#333;}
div.menusys_mega div.submenu-wrap .mega-group .menu-desc{color:#a8a8a8;font-size:11px;}

/* Child Content  */
#menusys_mega .menu-image {border: none;float: left;line-height: 44px;padding: 8px 0 0;margin-right: 3px;}
div.menusys_mega .mega-module {}
div.menusys_mega .mega-module .moduletable{}
div.menusys_mega .mega-module .moduletable .modulecontent{color:#333;width:auto; padding: 10px 0;}

/* Level2 MegaMenu   */
div.menusys_mega .megacol {float: left;width: 200px;}
div.menusys_mega .megacol.first-item{border-left:none;}
div.menusys_mega  ul.mega-ul{ margin:0px 5px;overflow:hidden;display:block;}
div.menusys_mega ul.mega-ul li.hasChild {background: url(../../images/mega/arrowchild-ltr.png) no-repeat 95% 7px;}
div.menusys_mega ul.mega-ul li {padding: 0;float: none;display: block;background:none;border-bottom: 1px dotted #b6b6b6;}
div.menusys_mega ul.mega-ul li.last-item{border-bottom:none;}
div.menusys_mega ul.mega-ul li.hover{ background:none;}
div.menusys_mega  ul.mega-ul li.mega-li a.item span.no-image{padding: 0 0 0 15px;display:block;background:url(../../images/mega/arrow.png) no-repeat 3px 8px;}
div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;background:url(../../images/mega/arrow.png) no-repeat 3px -23px;}
div.menusys_mega  ul.mega-ul li.mega-li a.item{padding: 4px 0;display: block;background: none;position: static;text-shadow: none;
						-webkit-transition: background 0.5s ease 0s;
						-moz-transition: background 0.5s ease 0s;
						-o-transition: background 0.5s ease 0s;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item{text-decoration: none;margin: 0;padding-left: 0px;display: block;background:#eee;
							-webkit-transition: background 0.2s ease 0s;
							-moz-transition: background 0.2s ease 0s;
							-o-transition: background 0.2s ease 0s;}
div.menusys_mega  ul.mega-ul li.mega-li a.item span.menu-title{line-height: 23px;margin: 0;padding: 0px;display: block;color: #474747 ;font-size: 12px ;font-weight:normal;}
div.menusys_mega  ul.mega-ul li.mega-li.hover > a.item span.menu-title{color:#d93305; text-shadow: 0 0 2px #c68c86;}
div.menusys_mega  ul.mega-ul li.mega-li a.item .has-image{padding-left:25px; background-position:2px 4px;}
div.menusys_mega  ul.mega-ul li.mega-li a.item .has-image span.menu-title{padding:  0;}


