/**
 * @copyright	Copyright (C) 2005 - 2012 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

html, body {
	background-color: #ffffff;
	color: ButtonText;
	font-family:  Tahoma, Verdana, sans-serif !important;
	margin: 0px !important; padding: 0px !important;
}

#imageForm fieldset label, #imageForm fieldset select, #imageForm fieldset input, #imageForm fieldset button {
    float: none;
}

img {
	border: 0 none;
}

form {
	padding: 0px;
	margin: 0 auto;
	width: 100%;
}
button {
	padding: 3px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #0B55C4;
	background-color: white;
}
button:hover {
	border: 1px solid #0B55C4;
}

select,input,button {
	font: 11px Tahoma, Verdana, sans-serif;
}

iframe {
	width: 100%;
	overflow-x: false;
	border: 0 none;
	margin: 0 0 0.5em 0;
	padding: 0;
}

iframe#temediaframe {
	height: 200px;
    float: right; 
    width: 220px; 
    border: 0.5px solid #f6f6f6;
}

a {
	padding: 5px;
	border: 1px solid ButtonFace;
}

a:hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.buttons {
	width: 70px;
	text-align: center;
}

#f_alt, #f_url, #f_title {
	width: 20em;
}

#f_folder {
    width: 8em;
}

.temedia-inline input, .temedia-inline select {
    margin-bottom: 0 !important;
}

.temedia-inline input {
    height: 12px !important;
}

.temain-btn {
    margin-top: 15px;
}

#messages {
	position: relative;
	left: 175px;
	top: 115px;
	background-color: white;
	width: 200px;
	float: left;
	margin-top: -52px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
}

#message {
	font-size: 15px;
	font-weight: bold;
	color: #69c;
}

#uploads .upload {
	padding: 4px;
}

.tab-container {
    position: relative;
    margin-top: 20px;
}

ul.tabs {
    margin: 0;
    padding: 20px 0 0 0;
    float: left;
    width: 160px;
    background-color: #ffffff;
}

.tabs li {
    list-style: none;
    border: 1px solid #f3f3f3;
    margin: 5px 0;
}

.tabs li.closed a {
    background-color: #555555;
    color: #FFFFFF !important;
}

.tabs li.closed a:hover {
    background-color: #f6f6f6;
    color: #000000 !important;
}

.tabs li.open a {
    background-color: #ffffff;
}

.tabs a {
    color: #333333 !important;
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    height: 24px;
    background-image: -webkit-gradient(linear,
        0 30%,
        0 70%,
        from(rgba(255,255,255,.4)),
        to(rgba(255,255,255,0)));
    background-image: -moz-linear-gradient(290deg,
        rgba(255,255,255,.4) 30%,
        rgba(255,255,255,.0) 70%);
    -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.tabs a:hover {
    text-decoration: none;
}
.tabcontent {
    position: absolute;
    background-color: white;
    width: 75%;
    padding: 10px 10px 10px 0;
    border: 1px solid #C4C4C4;
}
.tabcontent-open {
    left: 160px;
    opacity: 100;
}
.tabcontent-closed {
    left: -9999px;
    opacity: 0; 
    height: 0px; 
}
.tabcontent li {
    list-style: none;
    margin-left: 30px;
    padding: 0 0 10px 0;
}
.temedia-inline {
    display: inline-block; 
    margin-left: 30px; 
}
.tabcontent ul {
    padding: 0 0 0 0;
}
.tabcontent .tetext {
    margin-left: 30px;
}
.title-corner {
    float: left; 
    height: 20px; 
    font-size: 18px; 
    font-weight: bold; 
    width: 160px; 
    border-right: 1px solid #f6f6f6; 
    background-color: black; 
    color: white; 
    padding: 35px 0; 
    text-align: center;
    background-image: -webkit-gradient(linear,
        0 30%,
        0 70%,
        from(rgba(255,255,255,.4)),
        to(rgba(255,255,255,0)));
    background-image: -moz-linear-gradient(290deg,
        rgba(255,255,255,.4) 30%,
        rgba(255,255,255,.0) 70%);
}
.teinsert ul {
    margin: 0;
    padding-left: 150px;
}
.teinsert {
    background-color: #f6f6f6;
    padding: 14px 10px;
}
#imageForm input, #imageForm select {
    border: 1px solid #C4C4C4;
    box-shadow: 0 1px 2px #DDDDDD inset;
}

#imageForm input {
    padding: 8px 9px;
    min-height: 18px !important;
}

#imageForm select {
    padding: 5px 9px;
}
#imageForm label {
    font-size: 16px;
    display: block;
    padding-bottom: 10px;
}

#id3data .file-info input {
    margin-bottom: 0 !important;
}
#id3data #duration-cont input {
    width: 4em !important;
}

/* added Angie */

.teseparator {
    height: 1px;
    border-top: 1px dashed #c1c1c1;
    margin: 10px 0 0 10px;;
}

#uploadform {
	padding: 20px 5px 5px 30px;;
	font-size:11px
}

.fltrt {
	float: right;
}

.fltlft {
	float: left;
}

.te-help {
    display: block;
    font-style: italic;
    font-size: 90%;
    padding: 5px 0;
}
