
#menusys_mega .fancy{
	margin: 0;
	position: absolute;
	z-index: 8;
}
#menusys_mega .fancy .fancy-center {
	width: 100%;
	height:15px;
	position:absolute;
	left:0;
	bottom: -15px;
	background:url(../../images/mega/fancy-bot.png) no-repeat center bottom;
     
}
#menusys_mega .fancy .fancy-right{
	height: 70px;
	position:relative;
	background: url(../../images/mega/fancy-mid.png) repeat-x left top;
}
