﻿.icon-48-autotweet-logo, .icon-48-autotweet {
	background: url(../images/autotweet-logo.png) no-repeat;
}

.icon-32-autotweet-logo {
	background: url(../images/isologo-autotweet-32.png) no-repeat;
}

.icon-autotweet, .icon-autotweet-logo {
	background: url(../images/autotweet-icon.png) no-repeat;
}

.icon-process:before {
    content: "8";
}

#fbChannelTabsContent {
	height: 300px;
}

#jformfbchannel_id {
	width: 300px;
}

.icon-32-process {
    background-image: url("../images/icon-32-process.png");
}

.bar a {
    color: #FFFFFF;
    text-decoration: underline;
}

.extly .order .input-ordering
{
        width:auto;
}

.extly .disabled {
    color: #333333;
}

.extly .controls .btn {
	vertical-align: top;
}

#main .extly ul {
	list-style-type: none;
}

.nobr {
	white-space:nowrap;
}
