.mod-ganalytics-table tr,.mod-ganalytics-table td {
	border: 0px;
}

.mod-date-range-toolbar {
	width: 100%;
	height: 25px;
}

.mod-date-range-container {
	margin: 10px;
	width: 98%;
	border: 1px solid #CCCCCC;
}

.mod-date-range-container legend {
	font-size: 12px;
	font-weight: bold;
}

.mod-date-range-button {
	float: right;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}