/*------------------------------------------------------------------------
* ------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/
a:hover{
        -webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
}


a.readmore{-moz-transition: background-image 1s ease-in-out;}
a.readmore:hover{
        -webkit-transition: background-image 0.35s ease-in-out;
	-moz-transition: background-image 0.35s ease-in-out;
	-o-transition: background-image 0.35s ease-in-out;
	-ms-transition: background-image 0.35s ease-in-out;
	transition: background-image 0.35s ease-in-out;
}



div.show_cart{
          -webkit-transition: background-color 0.35s ease-in-out;
	-moz-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}