/*------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

/* COMMON STYLE
--------------------------------------------------------- */
html, body, form {margin: 0;padding: 0;}
body {
	font-size: 12px;
	color:#636363;
}

body.fs1 {font-size: 10px;}
body.fs2 {font-size: 11px;}
body.fs3 {font-size: 12px;}
body.fs4 {font-size: 13px;}
body.fs5 {font-size: 14px;}
body.fs6 {font-size: 15px;}

/* Small text */
small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan {
	font-size: 92%;
}
/* Clear Fix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}



a {outline: none;color: #e24b01;text-decoration: none;}
a:hover,
a:active,
a:focus {color:#222;
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-o-transition: color 0.2s ease 0s;
}


/* Heading */
h1 {font-size: 200%;}
h2 {font-size: 175%;}
h3 {font-size: 150%;}
h4 {font-size: 125%;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	padding: 0;
}
ul {list-style: none;}
ul li {padding:3px 0px 3px 13px;background: url(../images/bullet.png) no-repeat 0% 9px;}

div.modulecontent ul.menu {}

ul.menu li {
	background:url(../images/list-menu.png) no-repeat 0px 9px;
	padding:4px 0 4px 15px;
	border-bottom: 1px dotted #4a4a4a;
}
ul.menu li:last-child{border-bottom:none;}
ul.menu li img{display:none;}
ul.menu li:hover{background-position: 0px -19px;}
ul.menu li a  {color:#171717;display:block;}
ul.menu li:hover a{color:#a31506; }

ul.menu ul {margin: 0px;}
ul.menu ul li {margin-left: 0;width:auto;border-bottom: none;}

ul.list {margin: 0;}
ul.list li {padding: 5px 0 5px 0;background: none;border-bottom: 1px solid #EAEAEA;}
ul.list li a {color: #444;font-weight: bold;}

ol li {margin-left: 21px;}
th {font-weight: bold;padding: 8px;text-align: left;}

fieldset {border: none;padding: 10px 0px ;}
fieldset a {font-weight: bold;}
fieldset.input {padding: 0 15px;background: none;}
legend {font-weight: bold;}

ul.actions li {display: inline;background: none;}

/* Caption Edit
--------------------------------------------------------- */
img.caption {display:block;float: left;}
img.personal,
img.persolar{padding: 5px;background: #fff;border: solid 1px #DDDDDD;display:block;}

img.browseProductImage {border: 1px solid #e9e9e9;padding: 3px;}
img{border: none; }

/* Outermost container holding a captioned image, generated by caption.js */
.captioned_image_container
{
	/* How much space between container & surrounding content? */
	margin: 8px 8px 2px 8px;
	/* How much space on between container & the contained content? */
	padding: 0px;
	display: block;
	text-align: left;
	width: auto;
	border: 1px solid #ccc;
}
 
.captioned_image_border
{
	padding: 0px;
	text-align: left;
	display: block;
}
 

/* Container holding image & maybe a link */
.image_wrapper{
	display: block;
	width: auto;
}
 
/* Container holding the image's caption */
.img_caption{
	float:left;
	display: block;
	margin: 10px 15px 0 0;
	
}
/* FORM
--------------------------------------------------------- */
form {margin: 0;padding: 0;}
input, select, textarea, .inputbox, .button {
	font-size: 100%;
	border: 0px;

}
.inputbox,
#jform_email{
	padding: 5px 8px;border: 1px solid #cecece;color: #333;background:#fff;
	min-height:18px;
	border-radius:5px;
	box-shadow: inset 1px 2px 1px #edecec;
}
.inputbox:hover {background:#fffee4;}
.button ,
.validate{
	color:#fff;
	width:auto;
	display:block;
	margin: 3px;
	padding:6px 10px;
	cursor: pointer;
	font-size:100%;
	border:1px solid #c92c02;
	background: #d6380d url(../images/button.png) repeat-x left 0px ;
	
	border-radius: 5px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.button:hover {
	background-color:#3b3b3b ;
	border-color: #3b3b3b;
}
.float-l{float:left;}
.float-r{float:right;}
/* JOOMLA STYLE
--------------------------------------------------------- */
/* Article Layout */
.items-leading,
.items-row {width: 100%;display:inline-block;margin-bottom:20px;}
.items-row{margin: 0 -10px;}
.item-column {margin: 0 10px ;padding: 0 ;overflow: hidden;}

div.cols-2 .item{width:50%;float:left;}
div.cols-3 .item{width:33%;float:left;}
div.cols-4 .item{width:25%;float:left;}

.row-separator {width: 100%;height:0px;float:left;font-size:0;line-height:0;}


.article_separator {clear: both;margin: 0;display: none;}

.row_separator {
	display: block;
	clear: both;
	height: 2px;
}
.article_row {margin-bottom: 10px;width: 100%;float: left;}

p.iteminfo {line-height: 1em;margin: 0;}
.article_row p.iteminfo {line-height: 1em;margin: 0 -10px 5px;padding: 10px;}
.articleinfo {margin: 0.5em 0;}

/* Category Table layout */
.filter {float: left;margin: 0;padding: 0;}
.display {float: right;margin: 10px 0 0;text-align: right;}

/**/
table.variations{width:100%;}
table.variations tr.odd{	background:#eee;border-bottom: 1px solid #ddd;word-spacing:10px;}
table.variations td.bold{font-weight:bold;width:50px;}
table.variations td{padding:5px;}

table.category,
table.weblinks,
table.newsfeeds {
	border: 1px solid #383838;
	width: 100%;
	clear:both;
	font-size:100%;
	margin:20px 0;
}
table.category {
	border: 1px solid #ddd;
	margin:10px 0;
}
table.category td {
	padding: 4px 4px !important;
	background: #fff;
}
table.category td.last {
	padding: 0px 4px 0px 0px !important;
}
table.newsfeeds th, table.weblinks th, table.category th {
	
	background: #eee;
	padding: 8px 5px 8px 5px;
}
table.newsfeeds td, table.weblinks td, table.category td {
	padding:5px;
}
/* content tables */
.sectiontableheader {
	padding: 4px 8px;
	font-weight: bold;
}
.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:active,
.sectiontableheader a:focus {color: #fff;}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {padding: 8px;}
tr.sectiontableentry2 td {background: #301c0a;}
td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {padding: 4px;}

table.contentpane {
	border: none;
	background:none;
	border:0px solid #383838;
	width: 100%;
}
table.contentpaneopen {border: none;border-collapse: collapse;border-spacing: 0;}
table.contenttoc {margin: 0 0 10px 10px;padding: 0;width: 30%;float: right;}
table.contenttoc td {background: url(../images/bullet-list.gif) no-repeat 5px 8px;padding: 1px 5px 1px 15px;}
table.contenttoc th {border-bottom: 1px solid #CCCCCC;padding: 0 0 3px;text-indent: 5px;}

span.poll{font-weight:bold;}
table.poll {border-collapse: collapse;padding: 0;width: 100%;}
table.pollstableborder {border: none;padding: 0;text-align: left;width: 100%;}
table.pollstableborder img {vertical-align: baseline;}

table.pollstableborder td {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 4px !important;
	background: none;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: #EEEEEE;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}
table.searchintro td {
	padding: 5px!important;
}
.blog_more {
	margin: 0;
	padding: 10px 0 0;
}
.blog_more strong {
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.blog_more ul {

	margin: 0;
	padding: 0;
}
.blog_more ul li {
	margin: 0;
	padding: 0 0 0 21px;
}
.category {
	font-weight: normal;
}
h1.componentheading,
.componentheading {
	margin: 10px 0;
	font-size: 160%;
	line-height: normal;
	
	font-weight:bold;
}
.contentdescription {
	/*padding-bottom: 30px;*/
}
h2.contentheading,
.contentheading {
	margin: 0 0 10px 0;
	font-size: 160%;
	line-height: normal;
	font-weight:normal;
	text-transform:uppercase;

}
h2.contentheading > span,
.contentheading > span { }
h2.contentheading a,
.contentheading a {color: #333;}

table.blog .contentheading {font-size: 100%;}
td.contentheading {line-height: 28px;}
table.contentpaneopen td, table.contentpane td {padding-left:15px;}
table.contentpaneopen, table.contentpane, table.blog {width: 100%;}
table.admintable td{margin-bottom:10px;padding:5px;}

ul.pagination {
	color: #3B5468;
	overflow: hidden;
	clear: both;
	margin: 10px auto;
	padding: 10px 0;
	text-align: center;
	list-style: none;
}
ul.pagination li {
	margin: 10px 2px;
	padding: 0;
	display: inline;
}
ul.pagination li span {
	display: inline-block;
	background: #ccc;
	color: #444;
	
	border-radius:5px;

}
ul.pagination li span span {
	padding: 4px 10px ;
	display: inline-block;

}
ul.pagination a {
	padding: 0;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
ul.pagination a:hover span span,
ul.pagination a:active span span,
ul.pagination a:focus span span {
	background: #E24A00;
	color:#fff;
}
.counter {
	text-align: center;
	margin: 0.5em auto;
	width: 107px;
	background: #666;
	color: #fff;
	padding:2px 0px;
}
.pagenavbar {
	font-weight: bold;
	padding-left: 14px;
}
.pagenavcounter {
	font-weight: bold;
	padding: 8px 14px 0 14px;
}
.smalldark {text-align: left;}
div.zt-field{margin-bottom:10px;overflow:hidden;}
#login-form{margin:10px 0;}

/* META
--------------------------------------------------------- */
.article-toolswrap {display: block;margin: 0 0 10px;padding: 0;position: relative;}
.article-tools {display: block;padding: 0 10px 0 0;}
.article-meta {width: 70%;float: left;color: #3B5468;}

.createdby {font-size: 90%;}
.createdate {font-size: 90%;}
.modifydate {width: 90%;margin: 0 5px 0px 0;}

.article-section {padding-left: 6px;margin-left: 5px;}
.article-section a {color: #3B5468;}
.article-category a {color: #3B5468;}

p.buttonheading {text-align:right;margin: 0;}
p.buttonheading a:hover {background:none ;color:#000 ;}
p.buttonheading a:active,p.buttonheading a:focus {color:#000;}

hr {background: #e8e8e8;border: 0px;border-bottom: 1px solid #e8e8e8;}
