/*------------------------------------------------------------------------
* ------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/
@font-face {
    font-family: 'hero';
    src: url('fonts/hero.eot');
    src: url('fonts/hero.eot?#iefix') format('embedded-opentype'),
         url('fonts/hero.woff') format('woff'),
         url('fonts/hero.ttf') format('truetype'),
         url('fonts/hero.svg') format('svg');
}


div.menusys_mega ul.level0 li span.menu-title{ font-family: 'Candara';}

h3.moduletitle,h3.title{font-family: 'hero';}

h1, h2, h3, h4, h5, h6 {font-family:"hero";line-height:25px; font-weight:normal;}

li.roundabout-moveable-item div.roundabout-description  p.caption{font-family:"hero";font-size:133%; text-transform:uppercase;}
