/*------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/


#zt-userwrap2-inner,
#zt-userwrap3-inner{width:auto;overflow:hidden;position:relative;}

#zt-mainmenu-inner,
#zt-bottom-inner{overflow:hidden;}

div.moduletable .highslide-gallery ul li{height:60px;width:60px;}
div.moduletable{display:inline-block;}

.rtl img.caption {float: right;}
a.readmore > span{text-align:right; float:left;}

div.menusys_mega ul.level0 li > a.item  {padding: 15px  ;