/*------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

/* Module Type: Box -------------------------------------------*/

.moduletable { position: relative; }
div.style-box{
     padding: 10px;
     border-radius: 5px;
     background: #f1f1f1;
     border: 1px solid #ddd;
}

div.moduletable code {
     border: 1px dashed #BBBBBB;
     display: inline-block;
     padding: 2px 8px;
     color:#E04118;
}
div.moduletable .text-code{color:#E04118;display:inline-block;font-size:95%;}



/* Module red */

div.mod-red{background-color:#FA6635; border:none;}
div.mod-red h3.moduletitle{color:#fff;text-shadow:none;}
div.mod-red .modulecontent{color:#fff;}

div.moduletable.mod-red code {color:#fff;border-color:#ffb298;}
div.moduletable.mod-red .text-code{color:#fff;}

/* Module Badges
----------------------------------------------------------------------------------------------------*/
.ztmodule .badge {
	position: absolute;
	top: -2px;
	right: -2px;
        width: 48px;
	height: 48px;
	z-index: 1;
        background-image: url(../images/color/blue/module_badges.png);
}


.badge-hot .badge { background-position: 0 0; }
.badge-top .badge { background-position: 0 -50px; }
.badge-free .badge{ background-position: 0 -100px; }
.badge-new .badge{ background-position: 0 -150px; }

/* Module Icons
----------------------------------------------------------------------------------------------------*/

.ztmodule .icon {
     display: block; 
     position: relative;
     top: 0px;
     width: 25px;
     height: 25px;
     margin-right: 5px;
     overflow: hidden;
     float: left;
     background-image: url(../images/icons/labels.png);
}

div.icon-support  span.icon{display:block;background-position: 0 0px;}
div.icon-tag  span.icon{display:block;background-position: 0 -28px;}
div.icon-cart span.icon{display:block;background-position: 0 -57px;}
div.icon-bubble  span.icon{display:block;background-position: 0 -84px;}

div.icon-login  span.icon{display:block;background-position: 0 -113px;}
div.icon-cloud span.icon{display:block;background-position: 0 -144px;}
div.icon-gift span.icon{display:block;background-position: 0 -183px; height:26px;}
div.icon-mail  span.icon{display:block;background-position: 0 -215px;}

div.icon-display  span.icon{display:block;background-position: 0 -241px;}
div.icon-user  span.icon{display:block;background-position: 0 -270px;}
div.icon-twitter  span.icon{display:block;background-position: 0 -300px;}
div.icon-facebook  span.icon{display:block;background-position: 0 -329px;}

/* Module Label
----------------------------------------------------------------------------------------------------*/
.ztmodule .label {
     width: 40px;
     height: 40px;
     margin: 15px 10px 0 0;
     overflow: hidden;
     float: left;
     background-position:center top;
     background-repeat:no-repeat;
}
.ztmodule .label-1 > span{overflow:hidden;}
div.label-1 .ztmodule .label{background-image:url(../images/icons/icon-1.png) }
div.label-2 .ztmodule .label{background-image:url(../images/icons/icon-2.png) }
div.label-3 .ztmodule .label{background-image:url(../images/icons/icon-3.png) }
div.label-4 .ztmodule .label{background-image:url(../images/icons/icon-4.png) }
div.label-5 .ztmodule .label{background-image:url(../images/icons/icon-5.png) }
div.label-6 .ztmodule .label{background-image:url(../images/icons/icon-6.png) }

/* ZT Headline
------------------------------------------*/

/* ZT LatestNews
------------------------------------------*/
div.modulecontent div.latestnews {margin: 0 -10px;}
div.latestnews-thumb{
     border:5px solid #fff;box-shadow: 0 0 3px #ccc;display:inline-block;position:relative;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
div.latestnews-shadow{
     width:308px;
     height:20px;
     display:block;
     left: -10px;
     bottom: -25px;
     position:absolute;
     background:url(../images/latest-shadow.png) no-repeat 0 0;
}



div.latestnews  .latestnewsitems img{border:none;padding:0;margin:0;}
div.latestnews  .latestnewsitems-inner{margin: 0 10px;}
div.latestnewsitems h4{font-size:166%;}

/* Mask ----*/
.latestnews-thumb  .mask {
    height: 110px; width: 275px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
   
}
.latestnews-thumb a.info {
    background: url("../images/icons/link.png") no-repeat  center center ;
    display: inline-block;
    height: 20px;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 20px;
}
.second-effect .mask {
    
    border: 0 solid rgba(0, 0, 0, 0.7);
    opacity: 0;
    overflow: visible;
    
    -moz-box-sizing: border-box;
    -moz-transition: all 0.4s ease-in-out 0s;
    
    -o-box-sizing: border-box;
    -o-transition: all 0.4s ease-in-out 0s;
    
   -webkit-box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
.second-effect a.info {
   position:relative;
   top:-10px;
   opacity:0;
   transform:scale(0,0);
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
.second-effect:hover .mask {
   opacity: 1;
   border:55px solid rgba(0,0,0,0.7);
}
.second-effect:hover a.info {
   opacity:1;
   transform:scale(1,1);
   transition-delay:0.3s;
}


a.readmore{
     width:130px;height:41px;display:block;
     background:url(../images/readmore.png) no-repeat 0 0;
     line-height:40px;
     color:#fff;
     text-align:left;
     display:block;
   
}
a.readmore:hover{
    background-position:0 bottom;
   
}
a.readmore > span{ margin: 0 15px;}

a.readone{
     width:165px;height:46px;display:block;
     background:url(../images/readmore-2.png) no-repeat 0 0;
     line-height:46px;text-transform:uppercase;
     color:#fff; font-size:13px;
     text-shadow: 1px 1px 0px #717171;
     text-align:center;
     float:right;
}
a.readone:hover{background-position: left bottom; text-shadow:none;}
a.readone > span{ }
/* ZT Sosical Networking
------------------------------------------*/


/* Custom Html
------------------------------------------*/
div.round-page{
     border-radius:5px;border:1px solid #dbdbdb;padding:15px;
     background:#fff url(../images/round-page.png) repeat-x left bottom;
     overflow:hidden;
     color:#333;
    
     }
div.round-page:hover{background:#F2F2F2;}
div.round-page h2{font-size:240%;}
div.round-page .red{color:#eb540a;}
div.round-page p{color:#8e8e8e;font-size:133%;}
div.round-page a.readone{margin-top: 30px;}

/* ZT List Custom
------------------------------------------*/
ul.latestnews li{margin:0 0 10px;padding:0 0 10px;background:none;width:100%;clear:both;overflow:hidden;border-bottom: 1px solid #dbdbdb;}
ul.latestnews li:last-child{border-bottom:none;}
ul.latestnews li >img{
     float:left;
    border: 1px dotted #C9C9C9;
    display: block;
    margin: 0 10px 0 0;
    padding: 4px;
}
ul.latestnews li > h4{font-size: 116.7%; margin: 5px 0;line-height:18px;font-weight:normal;}
ul.latestnews li > span{color:#A4A4A4; font-size:92%;display:block;}

/* Custom Module
------------------------------------------*/
.oranges{color:#eb540a;}
.font11{font-size:11px;}

#newslettter{margin: 10px 0; overflow:hidden;}
#newslettter > div > input{background:#131313;border: 1px solid #323232;padding: 4px 5px; box-shadow:none; color:#787878; font-size:11px;}
#newslettter button{background:url(../images/button-2.png) repeat-x left top;color:#969696;text-shadow:1px 1px 0 #111;
                    box-shadow: 1px 1px 1px #000;font-family:"arial";  border:1px solid #3a3a3a;padding:4px 10px 3px;
}
#newslettter button:hover{background:#393939;}