/*------------------------------------------------------------------------
* ZT Template 1.5
* ------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/


.pattern1 {background-image: url(../images/patterns/pattern1.png);}
.pattern2 {background-image: url(../images/patterns/pattern2.png);}
.pattern3 {background-image: url(../images/patterns/pattern3.png);}
.pattern4 {background-image: url(../images/patterns/pattern4.png);}

.pattern5 {background-image: url(../images/patterns/pattern5.png);}
.pattern6 {background-image: url(../images/patterns/pattern6.png);}
.pattern7 {background-image: url(../images/patterns/pattern7.png);}
.pattern8 {background-image: url(../images/patterns/pattern8.png);}

.pattern9 {background-image: url(../images/patterns/pattern9.png);}
.pattern10 {background-image: url(../images/patterns/pattern10.png);}
.pattern11 {background-image: url(../images/patterns/pattern11.png);}
.pattern12 {background-image: url(../images/patterns/pattern12.png);}

.pattern13 {background-image: url(../images/patterns/pattern13.png);}
.pattern14 {background-image: url(../images/patterns/pattern14.png);}
.pattern15 {background-image: url(../images/patterns/pattern15.png);}
.pattern16 {background-image: url(../images/patterns/pattern16.png);}
