/*------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* @license - Copyrighted Commercial Software
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

/*	MEGA MENU	-----------------*/

div.menusys_mega{float:right;}
div.menusys_mega ul.level0 > li{float: right;}
div.menusys_mega ul.level0 > li.hasChild.hover > a.item > span.no-image,
div.menusys_mega ul.level0 > li.hasChild.active > a.item > span.no-image{background: url(../images/mega/submenu-2.png) no-repeat left 20px;}

div.menusys_mega ul.mega-ul li {float: none;display: block;}
div.menusys_mega ul.mega-ul li.hasChild {background: url(\\\\\\\"../images/mega/arrowchild-rtl.png\\\\\\\") no-repeat scroll 4% 9px transparent;}
div.menusys_mega ul.mega-ul li.mega-li a.item span.no-image {background: url(\\\\\\\"../images/mega/arrow.png\\\\\\\") no-repeat scroll 97% 7px transparent;display: block;padding: 0 20px 0 0;}

div.menusys_mega  ul.mega-ul li.hover a.item:hover span.no-image{display:block;background:url(../images/mega/arrow.png) no-repeat 97% -24px;}
div.menusys_mega ul.level0 li .has-image{padding: 0 30px 0 0px;background-position: 99% 10px;}
div.menusys_mega ul.mega-ul li.mega-li a.item .has-image {background-position: 99% 4px;padding: 0 25px 0 0;}
div.menusys_mega .mega-group{background: url(../images/rtl/mega-group.png) no-repeat right bottom;}

/* Class Default ------------------------*/
html {direction: rtl;}
ul li{background-position:99% 9px;padding: 3px 15px 3px 0;}
.zt-user{float:right}
.img_caption{margin: 15px 0 0 15px;}
img.caption{float:right;}
.float-l{float:right;}
a.readone{float:left;}
.ztmodule .icon{float:right;margin: 0 0 0 5px;}

/* Logo ------------------------*/
#zt-logo{float:right;}
#zt-search {float: left;}
div.search .bt-search{float:left;}

/* ZT BREADCRUMBS--------*/
span.breadcrumbs > a{padding: 0 3px 0 12px;float:right;background: url(../images//rtl/arrow.png) no-repeat 0px 4px;}

/* ZT Bottom  -------------*/
#zt-copyright{float:right;}
#zt-botmenu {float: left;}
#zt-botmenu ul.menu li > a{text-align:left;}

/* highslide-gallery ------------------*/
div.highslide-gallery ul li{float:right;}
ul.latestnews li > img{float:right; margin: 0 0 0 10px;}

/* Class Default ------------------*/
ul.lst-social{float:left;}
ul.lst-social li{float:right;}
ul.menu li{background-position: 98% 9px; padding: 4px 18px 4px 0px;}
ul.menu li:hover{background-position: 98% -19px; }