/*------------------------------------------------------------------------
* Copyright (c) 2008-2011 ZooTemplate. All Rights Reserved.
* Author: ZooTemplate
* Websites:  http://www.zootemplate.com
-------------------------------------------------------------------------*/

/* COMMON STYLE
--------------------------------------------------------- */
html,body,form,fieldset {margin: 0;padding: 0;}

body {margin: 0;padding: 0;line-height:18px;}
body#bd {font-family: Arial;}


body.fs1 {font-size: 10px; }
body.fs2 {font-size: 11px; }
body.fs3 {font-size: 12px; }
body.fs4 {font-size: 13px; }
body.fs5 {font-size: 14px; }
body.fs6 {font-size: 15px; }


/* ZT WRAPPER --------*/

#zt-wrapper {margin: 0 ;padding: 0;width: 100%;}
#zt-wrapper-inner {width:100%;display:inline-block;}

.zt-wrapper {width: 960px;margin: 0 auto;}

#zt-userwrap1,
#zt-userwrap2,
#zt-userwrap3,
#zt-userwrap4,
#zt-userwrap5,
#zt-userwrap6,
#zt-userwrap7 {
	margin: 0;
	width: 100%;
	clear: both;
}

#zt-userwrap1-inner,
#zt-userwrap2-inner,
#zt-userwrap3-inner,
#zt-userwrap4-inner,
#zt-userwrap5-inner,
#zt-userwrap6-inner,
#zt-userwrap7-inner {
	width: 100%;
	display:inline-block;
}


#zt-userwrap2,
#zt-userwrap3,
#zt-userwrap4{background: url(../images/wrapper.png) repeat-y center top;}
#zt-userwrap4-shadow1{background: url(../images/wrap4.png) no-repeat center bottom;margin-bottom:5px;}
#zt-userwrap5{ color:#919191;}
#zt-userwrap6{background:#000000; color:#919191;}

#zt-userwrap2-inner{padding-top:30px; background:url(../images/body-top.png) repeat-x left top;}
#zt-userwrap3-inner{background:url(../images/wrap2-shadow.png) no-repeat center 0; padding-top:40px;}
#zt-userwrap5-inner{padding: 30px 0 20px;}
#zt-userwrap6-inner{padding: 20px 0 0;}

#zt-userwrap5 h3.moduletitle,
#zt-userwrap6-inner h3.moduletitle{color:#ddd;font-size:118%;}

#zt-userwrap5 a{color:#919090;}
#zt-userwrap5 a:hover{text-shadow:0 0 5px #626262;color:#E24B01;}

/* ZT BREADCRUMBS--------*/

#zt-breadcrumbs {padding: 10px 0 0;margin-bottom:10px;border-bottom: 2px solid #eee; }
#zt-breadcrumbs-inner {
	padding: 10px ;display:block;
	
}
#zt-breadcrumbs img{display:none;}
span.breadcrumbs > a{
	display:inline-block;
	padding-right:12px;
	color:#eb540a;
	background:url(../images/arrow.png) no-repeat right center;
}

/* ZT COLSPAN -----------*/

#zt-colspan1,
#zt-colspan2 {margin: 0;}

#zt-colspan1-inner,
#zt-colspan2-inner {margin: 10px 0 0 ;}

/* ZT MODULETABLE --------*/

div.moduletable,
div.moduletable_menu,
div.moduletable_text,
div.module,
div.module_menu,
div.module_text ,
div.moduletable_blank{
	clear: both;
	margin: 0 0 20px 0;
}

div.moduletable_alpha{clear: both;}

div.moduletable_blank{margin:0;}

div.modulecontent{width:100%; display:inline-block;}

.ztmodule {padding: 0 ;display: block;}

h3.moduletitle,
h3.title{
	margin:0 ;font-size:160%;line-height:30px;color:#e24a00;
	text-transform:uppercase;
}
h3.title{background:none;margin:0;padding-bottom:15px;background:url(../images/title-2.png) no-repeat left 30px;}
h3.moduletitle > span {}


/* ZT HEADER
--------------------------*/
#zt-header {width: 100%;display: inline-block; background:url(../images/header.png) repeat-x left top;}
#zt-header2 {width: 100%;display: inline-block; background:url(../images/header2.png) no-repeat center top;}
#zt-header-inner {width: 100%;display:inline-block;min-height: 71px;}

/* LOGO ---------*/
#zt-logo {width: 25%;float:left;}
#zt-logo .zt-logo {margin: 5px;}

#zt-logo .zt-logo a {
	display: block;
	width: 212px;
	height:60px;
	background: url(../images/logo.png) no-repeat 0 0;
}

#zt-logo .zt-logo a span {display: none;}

/* TOP MENU ------*/

/* SEARCH --------*/

/* ZT MAINMENU
--------------------------*/
#zt-mainmenu {width: 75%; display: inline-block; float:right;}

#zt-mainmenu-inner {width:100%;display: inline-block;}


/* ZT SLIDESHOW
--------------------------*/
#zt-slideshow {margin: 0 ;width: 100%;background:url(../images/slideshow-3.png) repeat center top; }
#zt-slideshow2 {margin: 0 ;width: 100%; display:inline-block; }

div.homepage #zt-slideshow {background:#FAFAFA url(../images/slideshow.png) no-repeat center top;}
div.homepage #zt-slideshow2 {background:url(../images/slideshow-2.png) repeat-x center bottom;}

#zt-slideshow-inner {width:100%;display:inline-block;margin: 10px 0 0;color:#cbcbcb;}


/* ZT SPORTLIHT ----------*/
.zt-user {float: left;}
.zt-box-inside {padding: 0 10px;}

#zt-mainframe{display:block;width:100%;background: url(../images/wrapper.png) repeat-y center top;}
#zt-mainframe-inner{display:block;background:url(../images/wrap2-shadow.png) no-repeat center -2px; }
div.homepage #zt-mainframe-inner{display:block;background:url(../images/wrap2-shadow.png) no-repeat center 0; }


#zt-component {margin:  0;width: 100%; display: inline-block;}
#zt-component-inner {padding: 0 10px;margin:0px 0 10px;}

/* LEFT CONTENT RIGHT
--------------------------*/

#zt-container,
#zt-container-left,
#zt-container-right,
#zt-container-full {
	width: 100%;
	position: relative;
}

#zt-left {width: 25%;float: left;}
#zt-content {width: 50%;float: left;}
#zt-right {width: 25%;float: right;}

#zt-left-inner,
#zt-right-inner,
#zt-content-inner {margin:  10px;}

#zt-container-left #zt-content {width: 75%;}
#zt-container-right #zt-content {width:75%}
#zt-container-full #zt-content {width: 100%;}

#zt-container-left #zt-content,
#zt-container-right #zt-content,
#zt-container-full #zt-content {
}

.zt-layout-lcr,
.zt-layout-lrc,
.zt-layout-clr {
}

.zt-layout-clr #zt-content,
.zt-layout-lrc #zt-content {margin: 0;}

.zt-layout-lrc #zt-right {float: left;}
.zt-layout-lrc #zt-content {float: right;}

.zt-layout-clr #zt-right {float: right;}
.zt-layout-clr #zt-left {float: right;}
.zt-layout-clr #zt-content {float: left;}

.item-page{width:100%;display:inline-block; padding:  30px 0;}
.page-position #zt-left,
.page-position #zt-right{width:25%;}
.page-position #zt-content{width:50%;}
.page-position #zt-userwrap4 div.zt-user{width:25% !important;}
/* ZT Bottom
--------------------------*/
#zt-bottom {width: 100%;display: inline-block;background:#000;border-top: 1px solid #2a2a2a;}
#zt-bottom-inner {display:block; padding:10px 0;}


#zt-copyright {float: left;width: 50%; color:#919191;}
#zt-copyright-inner,
#zt-botmenu-inner{margin: 10px;}

#zt-botmenu {float: right;width: 50%;}
#zt-botmenu ul.menu{margin:0; display:block;text-align:right;}
#zt-botmenu ul.menu li{display:inline; border-bottom:none;background:none; padding: 0 5px;;}
#zt-botmenu ul.menu li a{text-transform: none;width:100%; padding: 0 5px;display:inline; color:#919191;}
#zt-botmenu ul.menu li a:hover,
#zt-bottom a:hover{background:none; color:#E24B01; text-shadow:none;}


.required {border: 1px solid #ccc;}