.scontent {
  background:none repeat scroll 0 0 #DDDDDD;
  float:left;
  height:100%;
  padding:5px;
  width:100%;
}
.scup, .scdown, .scneutral {
  color:#FFFFFF;
  float:left;
  font-size:30px;
  line-height:1.3em;
  padding:5px;
  text-align:center;  
  border-radius: 5px;
}
.scup {
   background-color: green;
}
.scdown{
  background-color: red;		
}
.scneutral{
  background-color: grey;		
}	
		
.status {
	color: gray;
	font-size: 90%;
	float:left;
}
.status .status_msg {
		width: auto;
		margin: 0 3px 0 0;	
}
.loading-img {
		width: 16px;
		height: 16px;
}
img.tags {
 float: left;
 margin: 0 5px 0 0;
 border: 0 none;
}
.clear {
 clear:both;
 margin:0;
 padding:0;
}
/*buttons*/
a.voteup_button, a.voteup_button:visited,
a.votedown_button, a.votedown_button:visited,
a.addthis_button, a.addthis_button:visited,a.flag_button,a.flag_button:visited,a.quote_button,a.quote_button:visited  {
    display: inline-block; 
    padding: 6px 12px;
    margin: 0 5px;
    font-size: 12px;
    line-height: 1em;
    text-decoration: none; 
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
}
a.addthis_button, a.addthis_button:visited,a.flag_button, a.flag_button:visited,a.quote_button,a.quote_button:visited  {
    background: #222 url(../images/btn-overlay.png) repeat-x;
}
a.votedown_button, a.votedown_button:visited {
 background: red url(../images/btn-overlay.png) repeat-x;
}
a.voteup_button, a.voteup_button:visited {
 background: green url(../images/btn-overlay.png) repeat-x;
}
a.addthis_button:hover,a.voteup_button:hover,a.votedown_button:hover,a.flag_button:hover,a.quote_button:hover { background-color: #111; color: #fff; }

.scontent span {
    padding: 1px 0 1px 18px;
    color:#F5F5F5;
}
span.addthis {
    background: url(../images/sprite2.png) no-repeat left -46px;
}   
span.voteup {
    background: url(../images/sprite2.png) no-repeat -2px -15px;
} 
span.votedown {
    background: url(../images/sprite2.png) no-repeat left -29px;
}
span.flag {
    background: url(../images/sprite2.png) no-repeat left 1px;
}
span.quote {
   background: url("../images/sprite2.png") no-repeat scroll -1px -60px transparent;
}
a.credits {
 display: inline-block;
 float: right;
 font-size: 80%;
 text-decoration: none;
 text-indent: -999px;
}
div.report,div.quote {
 display:none;
}
span.warning {
 color: red;
}
div.status textarea, form.mstr input, form.mstr textarea {
    border: 1px solid #444444;
    margin: 5px 0;
    padding: 5px;
}
div.status textarea, form.mstr textarea {
    width: 300px;
    height: 100px;
}