.ganalytics-table tr,.ganalytics-table td {
	border: 0px;
}

.date-range-toolbar{
	width: 100%;
	height: 25px;
}

.date-range-container {
	width: 100%;
	border: 1px solid #CCCCCC
}

.date-range-container legend {
	font-size: 12px;
	font-weight: bold;
}

.date-range-button {
	float: right;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}