#teinstall-logo {
    background-position: 50px 0;
    background-repeat: no-repeat;
    min-height: 150px;
    padding-right: 10px;
    padding-top: 15px;
}
#teinstall-status, .teinstall-status {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0;
    text-shadow: 1px 1px 0 #333333;
    text-align: center;
}
.teinstall-cont {
    text-align: center;
    margin: 10px;
}
.teinstall-status {
    display: inline-block;
    margin-right: 15px;
}
#teinstall-status li, .teinstall-status li {
    margin: 0 0 12px;
    padding: 0;
    text-indent: 10px;
    width: 400px;
    display: inline-block;
}
#teinstall-status .teinstall-row, .teinstall-status .teinstall-row {
    border-radius: 9px 9px 9px 9px;
    display: block;
    height: 28px;
    line-height: 28px;
    margin-left: 15px;
    padding-right: 25px;
    white-space: nowrap;
}
#teinstall-status .teinstall-success .teinstall-row, .teinstall-status .teinstall-success .teinstall-row {
    background: none repeat scroll 0 0 #ff6600;
}
#teinstall-status .teinstall-failure .teinstall-row, .teinstall-status .teinstall-failure .teinstall-row {
    background: none repeat scroll 0 0 #000000;
}
#teinstall-status .teinstall-update .teinstall-row, .teinstall-status .teinstall-update .teinstall-row {
    background: none repeat scroll 0 0 #009900;
}
#teinstall-status .teinstall-success .teinstall-icon, .teinstall-status .teinstall-success .teinstall-icon,
#teinstall-status .teinstall-update .teinstall-icon, .teinstall-status .teinstall-update .teinstall-icon,
#teinstall-status .teinstall-failure .teinstall-icon, .teinstall-status .teinstall-failure .teinstall-icon {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 42px;
    margin: -5px 0 -5px -15px;
    width: 38px;
}
#teinstall-status .teinstall-success .teinstall-icon, .teinstall-status .teinstall-success .teinstall-icon,
#teinstall-status .teinstall-update .teinstall-icon, .teinstall-status .teinstall-update .teinstall-icon {
    background-image: url("../media/preachit/images/success.png");
}
#teinstall-status .teinstall-failure .teinstall-icon, .teinstall-status .teinstall-failure .teinstall-icon {
    background-image: url("../media/preachit/images/failure.png");
}
#teinstall-status, .teinstall-status {
    list-style: none outside none;
}
#teinstall-status .teinstall-errormsg, .teinstall-status .teinstall-errormsg {
    background: none repeat scroll 0 0 #FDE0DC;
    border: 1px solid #ED573E;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #772013;
    display: block;
    font-size: 13px;
    margin: -1px 10px 10px 35px;
    padding: 10px 15px 15px;
    text-indent: 0;
    text-shadow: 0 0;
}

.tewelcomemessage {
    padding: 40px;
    width: 800px;
}
